<div class="container" ng-controller="MainController as login">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<form class="form-signin" method="post" ng-submit="login.doLogin()">
				<fieldset>
					<legend>Login</legend>

					<input type="text" class="form-control" name="username" ng-model="login.loginData.username" placeholder="Username"/>
					<br/>
					<input type="password" class="form-control" name="password" ng-model="login.loginData.password" placeholder="Password"/>
					<br/>

					<button type="submit" class="btn btn-primary">Login</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>