<div class="ui container" ng-controller="MainController as login">
    <form class="ui form" ng-submit="login.doLogin()">
        <div class="field">
            <input type="text" name="username" ng-model="login.loginData.username" placeholder="Username">
        </div>
        <div class="field">
            <input type="password" name="password" ng-model="login.loginData.password" placeholder="Password">
        </div>
        <button class="ui button" type="submit"><i class="fa fa-cog"></i> Edit</button>
    </form>
</div>

